/*******************************************************************************
 * Styles for the publication pages.
 ******************************************************************************/

.publication-banner {
  margin: 0 auto;
  text-align: center;
  a {
    color: var(--global-text-color);
  }
}

.publication-resources {
  margin: 0 auto;
  text-align: center;
}
